# Django Settings
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Configuração do Banco de Dados
DB_ENGINE=django.db.backends.postgresql
DB_NAME=rotae_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=banco
DB_PORT=5432
